[Unit]
Description=Grafana Kiosk
Documentation=https://github.com/DO1JLR/role-grafana-kiosk.git
Documentation=https://github.com/grafana/grafana-kiosk.git
After=network.target

[Service]
User={{ grafana_kiosk.user }}
Restart = always
RestartSec=5s
Type=simple
Environment="{{ grafana_kiosk.display }}"
Environment="XAUTHORITY=/home/{{ grafana_kiosk.user }}/.Xauthority"
ExecStart=
  {%- if not grafana_kiosk.general.autofit | bool -%}
    KIOSK_AUTOFIT={{ grafana_kiosk.general.autofit | ternary("true", "false") }}{{ ' ' }}
  {%- endif -%}
/usr/bin/grafana-kiosk -c /etc/grafana-kiosk/config.yml

[Install]
WantedBy=graphical.target
